
@media (prefers-reduced-motion: no-preference) {
  .spin:hover {
    animation: App-logo-spin infinite 4s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
    text-decoration: none;
  }
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section h2.section-head {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
.section h2.section-head:after {
  background: #5b2a8c;
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 20px auto;
}
#header {
  color: white;
  background: #5b2a8c;
}
#logo {
  font-size: 2rem;
  margin-top: 5px;
}
/* #logo::before{
        content: "\f219";
        font-family: FontAwesome;
        padding-right: 20px;
    } */
#menu {
  list-style: none;
  margin: 0;
  padding: o;
}
#menu li {
  display: inline-block;
}
#menu li a {
  color: #fff;
  padding: 15px 10px;
  display: block;
}
#menu li a:hover {
  background: #8836bf;
  border-radius: 6px 30px;
}
#profile {
  background: url(img/bg2.jpg) no-repeat 0 0;
  background-size: cover;
}
.banner-title {
  padding-top: 5rem;
}
.banner-title h1 {
  background: rgba(169, 147, 191, 0.6);
  display: inline-block;
  padding: 10px;
  margin: 0;
  border-top-right-radius: 50px;
}
.banner-title p {
  border-bottom-right-radius: 50px;
  background: rgba(106, 54, 217, 0.6);
  color: #fff;
  padding: 10px;
}
.service-box {
  text-align: center;
}
.service-box i.fa {
  color: #5b2a8c;
  font-size: 70px;
  margin-bottom: 15px;
}
#Certificates {
  color: #fff;
  background: url(img/testimonial.jpg) no-repeat;
  background-size: cover;
  padding: 50px 0px;
  position: relative;
  z-index: 1;
}
#Certificates:before {
  background: rgba(36, 0, 64, 0.6);
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#aboutme {
  color: #fff;
  background-size: cover;
  padding: 50px 0px;
  position: relative;
  z-index: 1;
}
#aboutme:before {
  background: rgba(36, 0, 64, 0.6);
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.certificate img {
  max-width: 400px;
  width: 100%;
  border: 9px double rgba(106, 54, 217, 0.9);
  display: block;
  margin: auto;
}
.course {
  text-align: center;
}
.course-detail {
  text-align: center;
}
.project img {
  max-width: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.myWork img {
  max-width: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.project h3 {
  font-size: 1.4rem;
}
.project h3 a {
  color: #5b2a8c;
}
.myWork h3 {
  font-size: 1.4rem;
}
.myWork h3 a {
  color: #5b2a8c;
}
.post-date {
  font-size: 13px;
  margin-bottom: 2px;
}
/* .post-date:before{
        content: "\f073";
        font-family: FontAwesome;
        padding-right: 5px;
    } */
a.readmore {
  font-size: 14px;
  color: #5b2a8c;
  font-family: FontAwesome;
}
/* a.readmore::after{
        content: "\f101";
        font-family: FontAwesome;
        padding-left: 5px;
    } */
#foot-sidebar {
  color: #fff;
  background: #40007f;
  padding: 20px 0px;
}
.foot-widget h4:after {
  content: "";
  background: #fff;
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px 0px;
}
.foot-widget a {
  color: #fff;
}
.running-project {
  list-style: none;
  padding: 0;
  margin: 0;
}
.running-project li {
  margin-bottom: 3px;
}
/* .running-project li:before{
        content: "\f101";
        font-family: FontAwesome;
        padding-right: 5px;
    } */
#footer {
  color: #fff;
  background: #200040;
  padding: 10px 0;
}
#social-icons {
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
#social-icons li {
  display: inline-block;
  padding-left: 5px;
}
#social-icons li a {
  color: #fff;
  font-size: 25px;
}
.scrollup {
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgba(106, 54, 217, 0.5);
  bottom: 0px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease;
}
.scrollup:hover {
  background: transparent;
  border: 2px solid rgba(106, 54, 217, 0.9);
  color: rgba(106, 54, 217, 0.6);
}
@media (max-width: 992px) {
  .project {
    padding-bottom: 20px;
  }
  .myWork {
    padding-bottom: 20px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #logo {
    text-align: center;
  }
  #menu {
    text-align: center;
  }
  .banner-title {
    padding-top: 0px;
  }
  .service-box {
    padding-bottom: 20px;
  }
  .testimonial {
    padding-bottom: 20px;
  }
  .project {
    text-align: center;
    border: 2px solid rgba(106, 54, 217, 0.9);
  }
  .myWork {
    text-align: center;
  }
  .foot-widget {
    padding-bottom: 10px;
  }
  #footer {
    text-align: center;
  }
  #social-icons {
    padding-top: 10px;
  }
}
